.mealItem {
  border-bottom: 1px solid black;
  padding: 2px;
  margin: 10px 0;
}

.mealItem h1 {
  font-size: 18px;
  margin: 0;
  padding: 5px;
}

.mealItem p,
span {
  font-size: 15px;
  margin: 0;
  padding: 5px;
}
