.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: max-content;
  margin: 3px 15px;
  padding: 7px 15px;
  font-size: small;
  font-weight: 700;
  background-color: #03c988;
  color: white;
}

.button:hover {
  background-color: white;
  color: #03c988;
}

.cartButton {
  background-color: #03c988;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
