.listcart {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.cartactions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 5px;
}
